.wallet-page {
  background-color: #edf2f4;
  height: 100vh;
}

.wallet-header {
  align-items: baseline;
  background-color: #2b2d42;
  color: white;
  display: flex;
  justify-content: space-around;
}

.wallet-form {
  align-items: center;
  background-color: #8d99ae;
  display: flex;
  height: 5vh;
  justify-content: space-around;
}

table {
  text-align: center;
  width: 100%;
}

/* https://www.w3schools.com/html/html_table_borders.asp */
table , th , td {
  border: 1px solid black;
  border-collapse: collapse;
}
